.bg-image {
    filter: blur(5px);
    -webkit-filter: blur(4px);
}

.bg-text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: #f1f1f1;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 20px;
}
.inner-dv{
    background-color: white;
    font-weight: bold;
    color:black;
    border: 3px solid #f1f1f1;
    
    /* z-index: 2; */
    width: 80%;
    padding: 20px;
}

.cb-bg-text{
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: #f1f1f1;
    font-weight: bold;
    border: 0px solid #f1f1f1;
    position: absolute;
    top: 85%;
    left: 86%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 18%;
    padding: 21px;
}